:root {
    --cor-background: #E6E6E6;
    --cor-background-branco: #FBFBFB;
    --cor-branco: #fff;
    --cor-amarelo: #FDEE09;
    --cor-azul: #02CADB;
    --cor-rosa: #FF0095;
    --cor-black: rgba(0, 0, 0);
    --transparent: transparent;
    --cor-font: #42371A;
    --cor-font-second: #6D5F3D;
    --cor-amarelo-light: rgba(253, 238, 9, 0.77);
    --cor-azul-light: rgba(2, 202, 219, 0.77);
    --cor-rosa-light: rgba(219, 2, 129, 0.77);
    --cor-pontos-enable: #02cadb;
    --cor-pontos-disable: #D9D9D9;
    --cor-cinza: #888;
}

::selection {
    background-color: var(--cor-rosa); /* Define a cor de fundo ao selecionar texto */
    color: var(--cor-branco);
}

::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
::-webkit-scrollbar-thumb {
    background-color: var(--cor-cinza); /* Cor do controle deslizante */
    border-radius: 20px;
}